<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tara Downes</title>
    <link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../public/css/style.css" rel="stylesheet"> 
    <link rel="stylesheet" href="../views/font-awesome/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=Kodchasan|Montserrat|Poiret+One|Raleway" rel="stylesheet"> 
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
</head>
<body>
<!-- HEADER -->
<div class="top">
<div class="container-fluid header">
         <div class="row">
             <div class="col-sm-12">

            <h1>Tara Downes <span>-</span> Full Stack Web Developer</h1>

            <a href="#about"><button class="button">View My Profile <i class="fa fa-caret-right"></i></button></a>
             </div>
        </div>
    </div>
</div>
    
<!-- NAV -->
    <nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link one">Welcome <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item two">
              <a class="nav-link">About</a>
            </li>
            <li class="nav-item three">
               <a class="nav-link">Portfolio</a>
            </li>
            <li class="nav-item four">
                <a class="nav-link">Contact</a>
             </li>
          </ul>
        </div>
      </nav>


    <!-- ABOUT -->
    <div class="container-fluid heading" id="about">
                <h1>About</h1>
    </div>
    <div class="container-fluid about">
        <div class="row">
            <div class="row bio">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-3 block">
                        <div class="div">
                            <img class="images" src="../public/images/tara.jpg" alt="Tara">

                        </div>
                        </div>
                        <div class="col-md-5 info">
                            <p>My name is Tara Downes, I am a full-stack web developer from Chicago, IL. I have a passion for building dynamic web applications with a simple and clear user interface. I strive to provide clean aesthetics, minimalist design, and unique typography. I am a self-taught developer and my profiences include but are not limited to:  </p>
                            <table>
                            <tr>
                                <td>
                                    HTML5
                                </td>
                                <td>
                                    CSS3
                                </td>
                                <td>
                                    JavaScript
                                </td>
                            </tr>
                             <tr>
                                <td>
                                    JQuery
                                </td>
                                <td>
                                    NodeJS
                                </td>
                                <td>
                                    MongoDB
                                </td>
                             </tr>
                        </table>
                        <br>
                         <p>As an experienced leader and educator, I thrive collaborating with colleagues to solve complex problems. I am currently working on several freelance web applications, expanding my knowledge and expertise. I am looking for an opportunity to learn from a team and am excited to grow within a company.</p>
                        </div>
                        <div class="col-md-2">
        
                        </div>
            </div>
            

            <div class="col-sm-12 icons">
                    <h2>Creating Web apps that are:</h2>
                <div class="row">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">
                            <i class="fa fa-mobile"></i>
                            <h3>Responsive</h3>
                            <p>Create Responsive designs that fit on any screen</p>
                    </div>
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-2">
                            <i class="fa fa-lightbulb-o"></i>
                            <h3>Dynamic</h3>
                            <p>Interactive Websites with purposeful designs </p>
                    </div>
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-2">
                            <i class="fa fa-globe"></i>
                            <h3>Intuitive</h3>
                            <p>Simple user experience that offers clarity and ease of use</p>
                    </div>
                    <div class="col-md-2">
                        
                    </div>
                </div>
                
            </div>  
        </div>
    </div>

    <!-- PORTFOLIO -->
<div class="container-fluid heading" id="portfolio">
        <h1>Portfolio</h1>
</div>

<div class="container-fluid portfolio">
<div class="container">
    <div class="row">
            <div class="col-md-4 square">
                <a target="_blank" href="https://maxineart.herokuapp.com"><img src="../public/images/mfart2.png" alt="pic" class="pic"></a>
                <p class="hide">Client Web App - HTML5, CSS3, JavaScript, NodeJS/Express, MongoDB</p>
            </div>
            <div class="col-md-4 square">
               <a target="_blank" href="https://elena-frankel.herokuapp.com"><img src="../public/images/ef.png" alt="pic" class="pic"></a>
                <p>Client Web App - HTML5, CSS3, JavaScript, Bootstrap4, NodeJS</p>
            </div>
            <div class="col-md-4 square">
                <a target="_blank" href="https://bglaw.herokuapp.com/"><img src="../public/images/BGL_Black.png" alt="pic" class="pic"></a>
                <p class="hide">Client Web App - HTML5, CSS3, JavaScript, Bootstrap4, NodeJS</p>
            </div>
            <div class="col-md-4 square">
                    <a target="_blank" href="https://moneycaresolutions.herokuapp.com"><img src="../public/images/MoneyCareBlack.png" alt="pic" class="pic"></a>
                    <p class="hide">Client Web App - HTML5, CSS3, JavaScript, Bootstrap4, NodeJS</p>
             </div> 
             <div class="col-md-4 square">
                    <a target="_blank" href="https://stormy-plains-77856.herokuapp.com/"><img src="../public/images/yelphelp.png" alt="pic" class="pic"></a>
                    <p class="hide">Personal Project - NodeJS/Express, MongoDB, JavaScript, HTML5, CSS3, Bootstrap4</p>
             </div>         
             <div class="col-md-4 square">
                    <a target="_blank" href="https://moneypanelprod.firebaseapp.com/"><img src="../public/images/moneypanel.png" alt="pic" class="pic"></a>
                    <p class="hide">Personal Project - Angular7, Bootstrap4, firebase</p>
             </div>
    </div>
</div>

    </div> 

        <!-- CONTACT -->
        <div class="container-fluid heading" id="contact">
              <h1>Contact</h1>    
        </div>

    <div class="container-fluid contact">
        <div class="container">
        
            <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
                    <form action="/contact" method="POST">
                            <div class="form-group">
                            <p>Let's get in touch! Contact me using the form below</p>
                            <p>{{msg}}</p>
                                    <input name="name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name" required>
                                </div>
                            <div class="form-group">
                            
                                <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="Email" required>
                            </div>
                            <div class="form-group">
                              
                                <textarea class="form-control" name="message" id="exampleFormControlTextarea1" rows="5" placeholder="Message" required></textarea>
                            </div>
                            <div class="form-group">
                                <button class="form-control" >Submit</button>
                            </div>
                    </form>
            
            </div>
            <div class="col-md-2">

            </div>


        </div>
        
    </div>
    <div class="container-fluid triangle">

    </div>
</div>



    <!-- FOOTER -->
    <div class="container-fluid footer">
        <div class="container">
                <div class="row icons">

                    <table>
                        <tr>
                            <td>
                                <a href="#contact"><i class="fa fa-envelope"></i></a> 
                            </td>
                            <td>
                                <a target="_blank" href="https://github.com/taradownes"><i class="fa fa-github"></i></a>
                            </td>
                            <td>
                                 <a target="_blank" href="https://www.linkedin.com/in/tara-downes-154962129/"><i class="fa fa-linkedin"></i></a>
                            </td>
                        </tr>
                    </table>
                      
                    </div>
                    <div class="col-sm-12">
                        <p>Tara Downes <i class="fa fa-copyright"></i>2018</p>
                    </div>
                </div>
        </div>
        


    <script src="../public/js/index.js"></script>
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../node_modules/popper.js/dist/umd/popper.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>